{{ hostOneUrl }}
ansible_host={{ hostOneIp }}
ansible_password={{ hostOnePassword }}


{{ hostTwoUrl }}
ansible_host={{ hostTwoIp }}
ansible_password={{ hostTwoPassword }}


{{ hostThreeUrl }}
ansible_host={{ hostThreeIp }}
ansible_password={{ hostThreePassword }}
